<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Helpdesk IT">

    <title>Helpdesk IT</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400&subset=latin,latin-ext'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/mainrwd.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <div id="sidebar">
            <div class="semifluid-layout">
                <div class="button-menu">
                    <i class="fa fa-navicon"></i>
                </div>
                <div class="sidebar-brand">
                     <a href="/helpdeskit/view/uzytkownik.html">Użytkownik</a>
                </div>
                 <nav class="sidebar-navigation">
                    <ul>
                        <li>
                            <a href="/helpdeskit/view/informacje.html">
                                <i class="fa fa-user"></i>
                                <span>Informacje</span>
                            </a>
                        </li>
                        <li>
                            <a href="/helpdeskit/view/dodajzgl.html">
                                <i class="fa fa-tasks"></i>
                                <span>Dodaj zgłoszenie</span>
                            </a>
                        </li>
                        <li>
                            <a href="/helpdeskit/view/index.html">
                                <i class="fa fa-share-alt"></i>
                                <span>Wyloguj</span>
                            </a>
                        </li>						
                    </ul>
                </nav>
                <div class="sidebar-copyrights">
                    &copy; Projekt wykonał Michał Drop
                </div>
            </div>
        </div>

        <div id="main">
            <div class="main-header navbar navbar-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-6">
                            <h2 id="admin">Informacje</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content container-fluid">
                <div class="row">
                </div>

                <div class="col-xs-1 col-lg-1 col-md-1">
                </div>
                <div class="col-lg-10 col-md-10 col-xs-10">
                    <div class="panel-window" style="margin-top: 10%;">
                        <div class="panel-window-header">
                            <h2 class="panel-window-heading">
                                <center><b>Informacje</b></center>
                            </h2>
                        </div>
                        <br>
                        <br>
                        <div class="panel-window-body">
                            <form id="contact-form" role="form">
								<center>
									<label for="form_lastname">Imię:</label> <p>Jan</p>
									<label for="form_lastname">Nazwisko:</label> <p>Kowalski</p>
									<label for="form_lastname">Stanowisko pracy:</label> <p>Księgowy</p>
									<label for="form_lastname">Login:</label> <p>jkowalski</p>
									<label for="form_lastname">E-mail:</label> <p>jankowalski@test.pl</p>
									<label for="form_lastname">Typ umowy:</label> <p>Umowa o pracę</p>
									<label for="form_lastname">Lokalizacja:</label> <p>Kraków</p>
									<label for="form_lastname">Dział:</label> <p>Finansów</p>
									<label for="form_lastname">Przełożony:</label> <p>Jan Nowak</p>
									</center>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-lg-1 col-md-1">
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>